<!DOCTYPE html>
{% load i18n %}
{% load static from staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Bakery &ndash; cookiecutter Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# TODO: only in DEBUG=True build #}
    {% if debug %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bakery.css' %}" />
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bakery.min.css' %}" />
    {% endif %}
  </head>
  <body data-spy="scroll" data-target="#bakery_navbar">
    <div id="wrap">
      <div class="container">
        <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo.svg' %}" style="height: 30px">
                <span class="shoutout long">Bakery &ndash; where cookies are made!</span>
                <span class="shoutout short">Bakery!</span>
              </a>
            </div>

            <div class="collapse navbar-collapse">
              <form class="navbar-form navbar-right" role="search" action="/" method="GET">
                <div class="form-group">
                  <input name="q" type="text" class="form-control" placeholder="{% trans "Search" %}">
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="{% url 'cookies:add' %}" title="{% trans "Add your Cookie!" %}">{% trans "Add your Cookie!" %}</a>
                </li>
                {% if request.user.is_authenticated %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hey {{ request.user.get_display_name }}!<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'auth:profile' request.user.username %}">{% trans "Profile" %}</a></li>
                      <li><a href="{% url "auth:logout" %}">{% trans "Logout" %}</a></li>
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a href="{% url 'social:begin' 'github' %}" title="{% trans "Sign in with Github!" %}">{% trans "Sign in with Github!" %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        {% block content %}{% endblock content %}
        <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
          <div class="container">
            <ul class="nav navbar-nav">
              <li><a href="#">Copyright &copy; 2013 by Christopher Grebs, Markus Holtermann</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/muffins-on-dope/bakery">Fork on GitHub</a></li>
              <li><a href="http://djangodash.com/">Created during the djangodash 2013</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/vendor/jquery.min.js' %}" type="application/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}" type="application/javascript"></script>
  </body>
</html>
